.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	/*margin: 1em;*/
	width: 300px !important;
	/*width: calc(100% - 2em);*/
	vertical-align: top;

}

.input-field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
	outline: none;
}

.input-label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-lc {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Manami */
.input--manami {
	overflow: hidden;
}

.input-field-m {
	width: 100%;
	background: transparent;
	padding: 0.5em;
	height: 54px;
	margin-bottom: 2em;
	color: #f9f7f6;
	z-index: 100;
	opacity: 0;
	/*font-size: 12px;*/
}

.input-label-m {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 12px 0;
	pointer-events: none;
	font-size: 1em;
	left: 0;
	border: solid 2px #A8A8A8;
	/*border-radius:4px;*/
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.input-label-m::before,
.input-label-m::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input-label-m::before {
	height: 100%;
	background: #A8A8A8;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.input-label-m::after {
	height: 2px;
	background: #A8A8A8;
	top: 100%;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.input-content-m {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.input-field-m:focus,
.input--filled .input-field-m {
	opacity: 1;
	-webkit-transition: opacity 0s 0.2s;
	transition: opacity 0s 0.2s;
}

.input-label-m::before,
.input-label-m::after,
.input-content-m,
.input-field-m:focus,
.input--filled .input-field-m {
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input-field-m:focus + .input-label-m::before,
.input--filled .input-label-m::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input-field-m:focus + .input-label-m::after,
.input--filled .input-label-m::after {
	opacity: 0;
}

.input-field-m:focus + .input-label-m .input-content-m,
.input--filled .input-label-m .input-content-m {
	color: #cbc4c6;
	-webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
	transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}
span.input-lc.input-content-m {
	font-weight: 300;
	font-size: 22px;
	padding-left: 8px;
}
.sign-up {
	margin: auto;
	padding-bottom:40px;
}
footer {
	text-align: center;
	margin-top: -30px;
}
p {
	margin-bottom: 0;
	margin-top: 0;
}
footer a {
	color:#585858 !important;
	font-size: 20px;
}
footer a:hover {
	color: #000 !important;
}
.fa-2x {
	font-size: 1.5em;
	padding: 6px 10px;
	right: -10px;
	/*position: absolute;*/
	color: #fff;
	margin-left:-2px;
	border-top:solid 2px #a8a8a8;
	border-right:solid 2px #a8a8a8;
	border-bottom:solid 2px #a8a8a8;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #a8a8a8;
}
.fa-2x:hover {
	color: #000;
}
.fa-2x:active, .fa-2x:focus {
	outline: none !important;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #a8a8a8 inset;
	border: solid 2px #A8A8A8;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}


@media (max-width: 350px) {
	.input {
		width: 250px !important;
	}
}

/*@font-face {*/
	/*font-weight: normal;*/
	/*font-style: normal;*/
	/*font-family: 'codropsicons';*/
	/*src:url('../fonts/codropsicons/codropsicons.eot');*/
	/*src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),*/
	/*url('../fonts/codropsicons/codropsicons.woff') format('woff'),*/
	/*url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),*/
	/*url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');*/
/*}*/

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #2fa0ec;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #404d5b;
}

.container {
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	display: inline-flex;
	width: 100%;
}

.content {
	font-size: 150%;
	/*padding: 3em 0;*/
}

.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }
.bgcolor-4 { background: #2f3238; color: #fff; }
.bgcolor-5 { background: #df6659; color: #521e18; }
.bgcolor-6 { background: #2fa8ec; color: #fff;}
.bgcolor-7 { background: #d0d6d6; }
.bgcolor-8 { background: #3d4444; color: #fff; }
.bgcolor-9 { background: #8781bd; color: #fff; }
.bgcolor-10 { background: #6C6C6C; }

body .nomargin-bottom {
	margin-bottom: 0;
}

/* Header */
.codrops-header {
	padding: 3em 190px 4em;
	letter-spacing: -1px;
}

.codrops-header h1 {
	font-weight: 800;
	font-size: 4em;
	line-height: 1;
	margin: 0.25em 0 0;
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding: 0.325em 0 1em 0;
	color: #c3c8cd;
}

/* Demos nav */
.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 0.85em;
	display: inline-block;
	margin: 0 1em;
	font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.codrops-demos a.current-demo {
	border-bottom: 2px solid;
	color: #404d5b;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.25em;
	text-align: center;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Related demos */
.content--related {
	text-align: center;
	color: #D8DADB;
	font-weight: bold;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}
.fa-envelope {
	padding-right: 8px;
}

.media-item__title {
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}




/*.form-group ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }*/
/*.form-group ::-moz-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } !* firefox 19+ *!*/
/*.form-group :-ms-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } !* ie *!*/
/*.form-group input:-o-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } !*opera*!</blockquote>*/